
// Variáveis
$primary-color: #182C61;
$secondary-color: #44bd32;
$hover-color: #4cd137;
$background-color: #f5f6fa;
$text-color: #fff;
$font-family: 'Roboto', sans-serif;
$container-width: 1024px;
$padding-default: 16px;
$border-radius: 8px;

// Mixin para centralizar com flexbox
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Mixin para definir o layout de grid
@mixin grid-layout($columns, $gap) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);
    column-gap: $gap;
}

// Mixin para botões
@mixin button($bg-color, $text-color, $border-radius: $border-radius) {
    background-color: $bg-color;
    color: $text-color;
    text-align: center;
    padding: 8px 0;
    border-radius: $border-radius;
    text-decoration: none;

    &:hover {
        background-color: lighten($bg-color, 10%);
    }
}

// Mixin para responsividade
@mixin respond-to($breakpoint) {
    @if $breakpoint == mobile {
        @media screen and (max-width: 767px) {
            @content;
        }
    } @else if $breakpoint == tablet {
        @media screen and (max-width: 1023px) {
            @content;
        }
    }
}

// Mixin para bordas arredondadas
@mixin border-radius($radius) {
    border-radius: $radius;
}

// Reset básico
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

body {
    background-color: $background-color;
}

li {
    list-style: none;
}

.container {
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: $primary-color;
    position: sticky;
    top: 0;
    left: 0;

    .container {
        @include flex-center; // Aplicando o mixin de centralização
        justify-content: space-between;
        padding: $padding-default 0;
    }
}

.menu {
    display: flex;

    li {
        font-weight: bold;
        margin-left: 24px;
    }

    a {
        color: $text-color;
        text-decoration: none;
    }
}

section {
    padding: 56px 0;
}

.products {
    margin-top: 40px;
    @include grid-layout(3, 1%); // Aplicando o mixin de grid
    row-gap: 4%;
    width: 100%;
}

.product-item img {
    width: 100%;
    @include border-radius(16px); // Aplicando o mixin de bordas arredondadas
}

.product-button {
    display: block;
    @include button($secondary-color, $text-color); // Aplicando o mixin de botão
    margin-top: 8px;

    &:hover {
        background-color: $hover-color;
    }
}

// Responsividade
@include respond-to(tablet) {
    .container {
        max-width: 80%;
    }

    .products {
        @include grid-layout(2, 3%); // Mudando a grid para 2 colunas em tablet
    }
}

@include respond-to(mobile) {
    .products {
        display: block;
    }
}